
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 182.9rem;
}.home-screen-jeZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b0d8da;
  border-radius: 1rem;

  .auto-group-h9gz-4Rw {
    width: 15rem;
    align-items: center;
    display: flex;
    border-radius: 0 3rem 3rem 0;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem 3.4rem 0.5rem 2.95rem;
    background-color: #fafeff;
    height: 87rem;
    flex-direction: column;

    .image-4-X4d {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.158rem 10.943rem 0rem;
      width: 6.3917rem;
      height: 7.0571rem;
      object-fit: cover;
    }
    .auto-group-qqyh-1Vb {
      margin: 0rem 1.3rem 3rem 1.65rem;
      width: calc(100% - 2.95rem);
      height: 8rem;
      position: relative;
      flex-shrink: 0;

      .home-vMf {
        font-size: 1.7rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.7rem;
        height: 4.4rem;
        top: 3.6rem;
        font-weight: 400;
        line-height: 2.5775;
        position: absolute;
        left: 0;
      }
      .homeicon-icons-1-pxq {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        left: 0.4rem;
      }
    }
    .auto-group-yy97-Mhs {
      margin: 0rem 0rem 3.9rem 0.35rem;
      width: 8.3rem;
      height: 7rem;
      position: relative;
      flex-shrink: 0;

      .progress-tSu {
        position: absolute;
        left: 0;
        top: 4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.7647058824;
        color: #000000;
        width: 8.3rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 1.7rem;
        white-space: nowrap;
        height: 3rem;
      }
      .r-1-oZs {
        vertical-align: top;
        width: 4.4rem;
        height: 4.4rem;
        cursor: pointer;
        position: absolute;
        left: 1.8rem;
        top: 0;
        object-fit: cover;
      }
    }
    .image-23-wAH {
      margin: 0rem 0.25rem 0.1rem 0rem;
      width: 4.1rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .calendar-ro3 {
      color: #000000;
      text-align: center;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.7647058824;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.05rem 9.1rem 0rem;
    }
    .image-8-xr5 {
      margin: 0rem 1.65rem 0.9rem 0rem;
      width: 5.3rem;
      height: 5.3rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .profile-5fo {
      line-height: 2.5775;
      color: #000000;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.85rem 11.9rem 0rem;
      font-size: 1.7rem;
      font-weight: 400;
    }
    .auto-group-mpvr-nq7 {
      position: relative;
      flex-shrink: 0;
      margin-right: 1.55rem;
      width: 6.6rem;
      height: 6.9rem;

      .logout-Xnh {
        position: absolute;
        font-weight: 400;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        width: 6.6rem;
        height: 4.4rem;
        left: 0;
        top: 2.5rem;
        font-size: 1.7rem;
        line-height: 2.5775;
      }
      .image-6-r4H {
        vertical-align: top;
        width: 3.9rem;
        height: 3.9rem;
        cursor: pointer;
        position: absolute;
        left: 0.9rem;
        top: 0;
        object-fit: cover;
      }
    }
  }
  .auto-group-znzb-Yxh {
    box-sizing: border-box;
    padding: 2rem 3.9rem 1.8rem 3rem;
    height: 87rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-vq7w-Gdo {
      margin: 0rem 7.1rem 0.2rem 0rem;
      width: 58rem;
      height: 83rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-4-9Sh {
        border-radius: 3rem;
        width: 58rem;
        height: 79.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f37418;
      }
      .input-task-name-HYu {
        height: 5.2rem;
        position: absolute;
        left: 4rem;
        top: 22.6rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5775;
        width: 18.8rem;
        white-space: nowrap;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        color: #000000;
      }
      .create-new-task-bJh {
        top: 3rem;
        font-size: 2.4rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        line-height: 2.5775;
        color: #000000;
        width: 13.3rem;
        height: 12.4rem;
        position: absolute;
        left: 4rem;
        font-weight: 700;
      }
      .name-hcd {
        width: 6.4rem;
        height: 5.2rem;
        position: absolute;
        left: 4rem;
        top: 17rem;
        color: rgba(0, 0, 0, 0.5099999905);
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .line-4-D5B {
        top: 26.95rem;
        object-fit: contain;
        vertical-align: top;
        width: 50rem;
        height: 16.35rem;
        position: absolute;
        left: 4rem;
      }
      .rectangle-5-YNM {
        position: absolute;
        left: 0;
        top: 31rem;
        background-color: #fff9f9;
        border-radius: 3.4rem;
        width: 58rem;
        height: 52rem;
      }
      .date-sfX {
        top: 33rem;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5099999905);
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.2rem;
        position: absolute;
        left: 3rem;
        font-weight: 400;
        line-height: 2.5775;
        width: 5.2rem;
      }
      .image-14-yyT {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 51.6rem;
        top: 49.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-10-JF3 {
        background-color: rgba(27, 224, 46, 0.5);
        border-radius: 1rem;
        width: 12rem;
        height: 5rem;
        position: absolute;
        left: 44rem;
        top: 60.3rem;
      }
      .rectangle-9-Dcu {
        width: 10.3rem;
        height: 5rem;
        position: absolute;
        left: 30.7rem;
        top: 60.3rem;
        background-color: rgba(239, 68, 68, 0.5);
        border-radius: 1rem;
      }
      .rectangle-8-YQH {
        width: 38.8rem;
        height: 6rem;
        position: absolute;
        left: 8rem;
        top: 75.9rem;
        background-color: #f37418;
        border-radius: 1rem;
      }
      .rectangle-7-shT {
        width: 13.3rem;
        height: 5rem;
        position: absolute;
        left: 15.7rem;
        top: 60.3rem;
        background-color: rgba(245, 166, 121, 0.5);
        border-radius: 1rem;
      }
      .category-ob7 {
        width: 10rem;
        position: absolute;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5099999905);
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.2rem;
        left: 3rem;
        top: 55.6rem;
        font-weight: 400;
      }
      .line-6-KJZ {
        width: 51rem;
        height: 0.1rem;
        position: absolute;
        left: 3rem;
        top: 53.1rem;
        background-color: #000000;
      }
      .item-22-00-23-00-3VT {
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        width: 14.8rem;
        position: absolute;
        top: 48.7rem;
        font-weight: 400;
        color: #000000;
        height: 5.2rem;
        left: 3rem;
        font-size: 2rem;
      }
      .time-YBK {
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.9rem;
        height: 5.2rem;
        position: absolute;
        left: 3rem;
        top: 44rem;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5099999905);
      }
      .friday-25-august-rSu {
        height: 5.2rem;
        font-weight: 400;
        color: #000000;
        width: 19.3rem;
        position: absolute;
        left: 3rem;
        top: 37.5rem;
        font-size: 2rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .date-koB {
        height: 5.2rem;
        color: rgba(0, 0, 0, 0.5099999905);
        white-space: nowrap;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        width: 5.2rem;
        position: absolute;
        left: 3rem;
        top: 33rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .line-5-gB3 {
        background-color: #000000;
        width: 51rem;
        height: 0.1rem;
        position: absolute;
        left: 3rem;
        top: 42rem;
      }
      .rectangle-6-Dgm {
        width: 11rem;
        height: 5rem;
        position: absolute;
        left: 3rem;
        top: 60.3rem;
        background-color: rgba(246, 76, 198, 0.5);
        border-radius: 1rem;
      }
      .study-9aR {
        width: 6.4rem;
        left: 5rem;
        font-size: 2rem;
        white-space: nowrap;
        height: 5.2rem;
        position: absolute;
        top: 60rem;
        font-weight: 400;
        line-height: 2.5775;
        color: #fffefd;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .personal-rjj {
        width: 9.7rem;
        position: absolute;
        font-size: 2rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        height: 5.2rem;
        left: 17.7rem;
        top: 60rem;
        font-weight: 400;
        color: #fff9f9;
        white-space: nowrap;
      }
      .work-NTB {
        line-height: 2.5775;
        color: #fafeff;
        width: 6rem;
        height: 5.2rem;
        position: absolute;
        left: 33rem;
        top: 60.4rem;
        font-size: 2rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-weight: 400;
        white-space: nowrap;
      }
      .finance-suj {
        white-space: nowrap;
        width: 9rem;
        position: absolute;
        left: 45rem;
        font-weight: 400;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        color: #ffffff;
        height: 5.2rem;
        top: 60.4rem;
        text-align: center;
        font-size: 2rem;
        line-height: 2.5775;
      }
      .image-10-CBK {
        left: 14rem;
        top: 77rem;
        object-fit: cover;
        vertical-align: top;
        width: 3.6rem;
        height: 3.6rem;
        position: absolute;
      }
      .create-task-vt1 {
        height: 8.3rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 3.2rem;
        line-height: 2.5775;
        white-space: nowrap;
        width: 21.1rem;
        position: absolute;
        left: 21.45rem;
        top: 74.4rem;
        text-align: center;
      }
      .image-15-SbT {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 51.6rem;
        top: 38.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .include-chatbot-assistance-xph {
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
        position: absolute;
        left: 5.65rem;
        top: 69.4rem;
        font-weight: 400;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        width: 31.5rem;
        height: 5.2rem;
      }
      .image-17-Qwb {
        width: 4.6rem;
        height: 4.7rem;
        position: absolute;
        left: 47.7rem;
        top: 69.4rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-trxf-7b7 {
      padding: 0.8rem 3.6rem 16.2rem 3.9rem;
      width: 40rem;
      background-color: #fffcfc;
      border-radius: 2.6rem;
      margin: 0.8rem 6.9rem 0rem 0rem;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-rsr5-oD3 {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 7.8rem 2.8rem 0rem;
        width: 24.7rem;
        height: 11.6rem;

        .today-X93 {
          line-height: 2.5775;
          color: #000000;
          height: 8.3rem;
          position: absolute;
          left: 0;
          font-weight: 700;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.2rem;
          top: 0;
          font-size: 3.2rem;
        }
        .task-categories--dxm {
          width: 15.7rem;
          font-weight: 700;
          line-height: 2.5775;
          color: #000000;
          white-space: nowrap;
          height: 4.2rem;
          position: absolute;
          left: 0.5rem;
          top: 7.4rem;
          font-size: 1.6rem;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .rectangle-35-YK3 {
          width: 8.6rem;
          height: 2.5rem;
          position: absolute;
          left: 16.1rem;
          box-sizing: border-box;
          top: 8.3rem;
          border: solid 0.1rem #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #d9d9d9;
        }
        .all-1yK {
          line-height: 2.5775;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          position: absolute;
          top: 8.3rem;
          text-align: center;
          font-weight: 700;
          white-space: nowrap;
          width: 1.7rem;
          height: 2.6rem;
          left: 19.2rem;
          font-size: 1rem;
        }
        .polygon-1-XRs {
          height: 1.2605rem;
          position: absolute;
          left: 22.8rem;
          top: 8.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.2303rem;
        }
      }
      .auto-group-paah-T4d {
        border-radius: 1.3rem;
        margin: 0rem 0.1rem 1rem 0.4rem;
        box-sizing: border-box;
        padding: 0.1rem 12.2rem 0.1rem 1.2rem;
        width: calc(100% - 0.5rem);
        height: 5.3rem;
        align-items: center;
        display: flex;
        background-color: #b0d8da;
        flex-shrink: 0;

        .ellipse-24-wVb {
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          background-color: rgba(249, 235, 235, 0.5);
          border-radius: 1.2rem;
          flex-shrink: 0;
          margin: 0.1rem 2rem 0rem 0rem;
          width: 2.4rem;
          height: 2.4rem;
        }
        .auto-group-xgox-e97 {
          width: 14.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .pray-eat-work-o21 {
            width: 14.2rem;
            left: 0;
            color: #000000;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 2.5775;
            height: 4.4rem;
            position: absolute;
            top: 0;
            font-size: 1.7rem;
            font-weight: 700;
          }
          .am-Dzq {
            height: 2.9rem;
            position: absolute;
            top: 2.2rem;
            font-size: 1.1rem;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.8rem;
            left: 0;
            font-weight: 700;
            line-height: 2.5775;
            color: #f37418;
          }
        }
      }
      .auto-group-pbfb-ucm {
        margin: 0rem 0.3rem 6rem 0rem;
        width: 32rem;
        height: 5.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-36-SMo {
          border-radius: 1.3rem;
          width: 32rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          top: 0.5rem;
          background-color: #d2d2d2;
        }
        .bla-bla-bla-NWM {
          left: 5.4rem;
          top: 0;
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 2.5775;
          width: 10.1rem;
          height: 4.4rem;
          position: absolute;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pm-h2q {
          line-height: 2.5775;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          width: 3.9rem;
          position: absolute;
          left: 5.4rem;
          top: 2.7rem;
          font-size: 1.1rem;
          font-weight: 700;
          white-space: nowrap;
          height: 2.9rem;
          color: #f37418;
        }
        .ellipse-25-CEV {
          left: 1.5rem;
          border: solid 0.2rem #000000;
          top: 1.3rem;
          box-sizing: border-box;
          background-color: rgba(249, 235, 235, 0.5);
          border-radius: 1.2rem;
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
        }
      }
      .done-1-JYR {
        font-size: 1rem;
        font-weight: 700;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 25.6rem 0.1rem 0rem;
      }
      .auto-group-ihid-Rsw {
        padding: 1.2rem 13.3rem 0.9rem 0.9rem;
        width: calc(100% - 0.5rem);
        height: 7.4rem;
        background-color: rgba(176, 216, 218, 0.3899999857);
        border-radius: 1.3rem;
        flex-shrink: 0;
        margin: 0rem 0rem 9.7rem 0.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .auto-group-kred-8nM {
          position: relative;
          flex-shrink: 0;
          margin: 1rem 0.8rem 1.5rem 0rem;
          width: 2.8rem;
          height: calc(100% - 2.5rem);

          .ellipse-23-sE9 {
            border-radius: 1.2rem;
            left: 0.2rem;
            top: 0.2rem;
            border: solid 0 #000000;
            box-sizing: border-box;
            background-color: #f37418;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
          }
          .image-25-BVj {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 2.8rem;
            height: 2.8rem;
            position: absolute;
            left: 0;
          }
        }
        .auto-group-8anr-ikZ {
          width: 14.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .pm-UDw {
            top: 2.4rem;
            line-height: 2.5775;
            color: #f37418;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.8rem;
            height: 2.9rem;
            position: absolute;
            left: 0;
            font-size: 1.1rem;
            font-weight: 700;
          }
          .pray-eat-sleep-ywP {
            height: 4.4rem;
            left: 0;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            width: 14.2rem;
            top: 0;
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 2.5775;
            color: #000000;
            white-space: nowrap;
            position: absolute;
          }
        }
      }
      .no-tasks-today-nothing-to-display-message-CJM {
        font-weight: 700;
        line-height: 2.5775;
        color: #d9d9d9;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.2rem;
        max-width: 23.3rem;
        font-size: 1.7rem;
      }
    }
    .auto-group-zfhp-Umf {
      flex-direction: column;
      margin: 0.6rem 0rem 0.2rem 0rem;
      box-sizing: border-box;
      width: 49rem;
      height: calc(100% - 0.8rem);
      border-radius: 1.5rem;
      flex-shrink: 0;
      padding: 1.9rem 4.3rem 25.9rem 5rem;
      align-items: center;
      display: flex;
      background-color: #fffdfd;

      .auto-group-6ueq-N6M {
        margin: 0rem 0rem 1.5rem 1rem;
        width: 38.7rem;
        height: 12rem;
        position: relative;
        flex-shrink: 0;

        .smart-content-recommendations-Hz1 {
          top: 0;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.875;
          color: #000000;
          height: 12rem;
          position: absolute;
          left: 0;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          width: 34.1rem;
        }
        .image-19-BpV {
          vertical-align: top;
          width: 4.7rem;
          height: 4.8rem;
          position: absolute;
          left: 34rem;
          top: 2.7rem;
          object-fit: cover;
        }
      }
      .auto-group-fcff-7i9 {
        margin: 0rem 0.7rem 3.1rem 0rem;
        width: 39rem;
        height: 19rem;
        position: relative;
        flex-shrink: 0;

        .image-21-dwP {
          width: 3.2rem;
          height: 3.2rem;
          position: absolute;
          left: 34.8rem;
          top: 0.9rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-31-NPB {
          height: 19rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #f37418;
          border-radius: 1.5rem;
          width: 39rem;
        }
        .holiday-destinations-KJR {
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.4rem;
          position: absolute;
          top: 1.2rem;
          font-size: 1.7rem;
          font-weight: 800;
          width: 20.9rem;
          left: 1.9rem;
          line-height: 2.5775;
          text-decoration-line: underline;
          color: #fff9f9;
        }
        .bali-lapland-RMT {
          height: 6.8rem;
          position: absolute;
          font-weight: 700;
          line-height: 2.5775;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          width: 7.9rem;
          left: 1.9rem;
          top: 5.3rem;
          font-size: 1.3rem;
          color: #000000;
        }
        .learn-more-XQV {
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          width: 7.1rem;
          height: 2.6rem;
          top: 16.1rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 2.5775;
          position: absolute;
          left: 1.9rem;
          white-space: nowrap;
        }
        .image-20-qg5 {
          position: absolute;
          left: 34.8rem;
          top: 0.9rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.2rem;
          height: 3.2rem;
        }
        .copy-yXP {
          font-size: 1rem;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 15.9rem;
          text-align: center;
          font-weight: 700;
          line-height: 3;
          width: 3rem;
          height: 3rem;
          left: 11.1rem;
        }
      }
      .auto-group-vvpq-ggh {
        margin-right: 0.7rem;
        box-sizing: border-box;
        padding: 0.7rem 1rem 0.1rem 2rem;
        width: 39rem;
        background-color: #f37418;
        border-radius: 1.5rem;
        flex-shrink: 0;

        .auto-group-gdf3-b2y {
          align-items: flex-start;
          width: 100%;
          display: flex;

          .mocha-recipe-YD7 {
            font-weight: 800;
            line-height: 2.5775;
            color: #fff9f9;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.7rem;
            text-decoration-line: underline;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            margin: 0.7rem 18.8rem 0rem 0rem;
          }
          .image-22-qxu {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .milk-coffee-beans-afb {
          margin-bottom: 3.3rem;
          max-width: 9.7rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 2.5775;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .auto-group-kzju-iG1 {
          margin-right: 23.9rem;
          width: calc(100% - 23.9rem);
          display: flex;
          align-items: center;

          .learn-more-Fmj {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.2rem 2.3rem 0rem 0rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 2.5775;
            color: #000000;
            font-family: Inknut Antiqua, 'Source Sans Pro';
          }
          .copy-mzy {
            flex-shrink: 0;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            line-height: 3;
            color: #000000;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
}
