
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 167.1rem;
}.login-screen-59T {
  position: relative;
  overflow: hidden;
  background-color: #b0d8da;
  width: 100%;
  height: 83.1rem;

  .rectangle-1-obF {
    background-color: #fffefd;
    border-radius: 3.9rem;
    width: 110rem;
    height: 83.1rem;
    position: absolute;
    left: 68.5rem;
    top: 0;
  }
  .password-8dX {
    top: 43rem;
    font-size: 2.4rem;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.6rem;
    height: 6.2rem;
    position: absolute;
    left: 86.8rem;
    font-weight: 400;
    line-height: 2.5775;
    color: rgba(0, 0, 0, 0.4900000095);
  }
  .line-3-dKP {
    top: 49rem;
    background-color: #000000;
    width: 58rem;
    height: 0.1rem;
    position: absolute;
    left: 86.8rem;
  }
  .line-2-ZTw {
    height: 0;
    position: absolute;
    left: 86.8rem;
    top: 33.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 58rem;
  }
  .email-address-6yf {
    font-size: 2.4rem;
    line-height: 2.5775;
    color: rgba(0, 0, 0, 0.4600000083);
    font-family: Inknut Antiqua, 'Source Sans Pro';
    height: 6.2rem;
    position: absolute;
    left: 86.8rem;
    top: 27rem;
    white-space: nowrap;
    width: 19.4rem;
    font-weight: 400;
  }
  .image-1-ot5 {
    position: absolute;
    left: 28.6937rem;
    top: 17.1627rem;
    object-fit: cover;
    vertical-align: top;
    width: 55.4928rem;
    height: 65.4682rem;
  }
  .image-4-Lt1 {
    top: 2.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 6.3917rem;
    height: 7.0571rem;
    position: absolute;
    left: 2.9027rem;
  }
  .task-mastery-awaits-log-in-to-manage-UUR {
    left: 2.9rem;
    font-size: 2.8rem;
    line-height: 2.5775;
    color: #000000;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    width: 32.9rem;
    height: 14.5rem;
    position: absolute;
    top: 18rem;
    font-weight: 400;
  }
  .login-M2R {
    position: absolute;
    font-weight: 400;
    white-space: nowrap;
    font-size: 3.6rem;
    line-height: 2.5775;
    color: #000000;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    width: 11.6rem;
    height: 9.3rem;
    left: 87rem;
    top: 9.7rem;
  }
  .image-5-eGR {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 141rem;
    top: 44.8rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-2-xnu {
    top: 60.1rem;
    background-color: #b0d8da;
    border-radius: 2rem;
    width: 42rem;
    height: 7rem;
    cursor: pointer;
    position: absolute;
    left: 95rem;
  }
  .login-tRf {
    height: 6.2rem;
    position: absolute;
    left: 111.9rem;
    top: 60.5rem;
    text-align: center;
    white-space: nowrap;
    width: 7.7rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.5775;
    color: #fffbfb;
    font-family: Inknut Antiqua, 'Source Sans Pro';
  }
  .not-registered-zUh {
    height: 3rem;
    position: absolute;
    font-size: 1.7rem;
    line-height: 1.7647058824;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.9rem;
    left: 103.05rem;
    top: 78.2rem;
    text-align: center;
    font-weight: 400;
    color: #000000;
  }
  .sign-up-JVP {
    font-weight: 400;
    color: #f37418;
    cursor: pointer;
    position: absolute;
    top: 78.2rem;
    font-size: 1.7rem;
    line-height: 1.7647058824;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.5rem;
    height: 3rem;
    left: 119.55rem;
    text-align: center;
  }
}
