
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 167.1rem;
}.sign-up-screen-JXT {
  width: 100%;
  height: 83.1rem;
  position: relative;
  overflow: hidden;
  background-color: #b0d8da;

  .rectangle-1-tEm {
    width: 110rem;
    height: 83.1rem;
    position: absolute;
    left: 68.5rem;
    top: 0;
    background-color: #fffefd;
    border-radius: 3.9rem;
  }
  .login-Nfj {
    height: 5.2rem;
    position: absolute;
    left: 124rem;
    top: 76rem;
    font-size: 2rem;
    white-space: nowrap;
    width: 6.5rem;
    cursor: pointer;
    font-weight: 400;
    line-height: 2.5775;
    color: #f37418;
    font-family: Inknut Antiqua, 'Source Sans Pro';
  }
  .password-nDf {
    height: 6.2rem;
    left: 87rem;
    top: 43.9rem;
    line-height: 2.5775;
    color: rgba(0, 0, 0, 0.4900000095);
    white-space: nowrap;
    width: 12.6rem;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: Inknut Antiqua, 'Source Sans Pro';
  }
  .line-3-o2H {
    position: absolute;
    left: 87rem;
    top: 49rem;
    background-color: #000000;
    width: 58rem;
    height: 0.1rem;
  }
  .line-2-KWR {
    width: 58rem;
    height: 0.1rem;
    position: absolute;
    left: 87rem;
    top: 39rem;
    background-color: #000000;
  }
  .email-address-TsX {
    position: absolute;
    top: 34rem;
    font-weight: 400;
    line-height: 2.5775;
    color: rgba(0, 0, 0, 0.4600000083);
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    width: 19.4rem;
    left: 87rem;
    font-size: 2.4rem;
    height: 6.2rem;
  }
  .image-1-AX3 {
    height: 65.4682rem;
    position: absolute;
    left: 28.6937rem;
    top: 17.1627rem;
    object-fit: cover;
    vertical-align: top;
    width: 55.4928rem;
  }
  .image-4-58D {
    width: 6.3917rem;
    height: 7.0571rem;
    position: absolute;
    left: 2.9027rem;
    top: 2.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .empower-your-day-list-it-live-it-bcM {
    color: #000000;
    width: 30.5rem;
    height: 14.5rem;
    position: absolute;
    font-weight: 400;
    line-height: 2.5775;
    left: 2.9rem;
    top: 18rem;
    font-size: 2.8rem;
    font-family: Inknut Antiqua, 'Source Sans Pro';
  }
  .sign-up-Hk5 {
    width: 15.7rem;
    font-weight: 400;
    line-height: 2.5775;
    color: #000000;
    white-space: nowrap;
    height: 9.3rem;
    position: absolute;
    left: 87rem;
    top: 7rem;
    font-size: 3.6rem;
    font-family: Inknut Antiqua, 'Source Sans Pro';
  }
  .full-name-oiR {
    height: 6.2rem;
    position: absolute;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.5775;
    color: rgba(0, 0, 0, 0.4699999988);
    width: 13.4rem;
    left: 87rem;
    top: 22.8rem;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
  }
  .line-1-umT {
    top: 28rem;
    background-color: #000000;
    width: 58rem;
    height: 0.1rem;
    position: absolute;
    left: 87rem;
  }
  .image-5-Eoj {
    height: 4.2rem;
    position: absolute;
    left: 141rem;
    top: 44.8rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.2rem;
  }
  .rectangle-2-ASV {
    background-color: #b0d8da;
    border-radius: 2rem;
    width: 42rem;
    height: 7rem;
    cursor: pointer;
    position: absolute;
    left: 95rem;
    top: 60.1rem;
  }
  .login-g9w {
    font-weight: 400;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    height: 6.2rem;
    position: absolute;
    top: 60.5rem;
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.5775;
    color: #fffbfb;
    width: 10.5rem;
    left: 110.5rem;
  }
  .already-registered-P4M {
    width: 22.2rem;
    top: 76rem;
    font-weight: 400;
    line-height: 2.5775;
    font-family: Inknut Antiqua, 'Source Sans Pro';
    white-space: nowrap;
    height: 5.2rem;
    position: absolute;
    left: 100.9rem;
    font-size: 2rem;
    color: #000000;
  }
}
