
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 183.2rem;
  background-color: bisque;
}.user-progress-report-screen-jqB {
  box-sizing: border-box;
  padding-right: 3.4rem;
  width: 100%;
  overflow: hidden;
  margin-top: 2cm;
  margin-left: 1cm;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b0d8da;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD {
  margin: 0rem 4rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.85rem 0.6rem 1.85rem;
  width: 15rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafeff;
  border-radius: 0 3rem 3rem 0;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .image-4-iSD {
  margin: 0rem 2.608rem 11.943rem 0rem;
  width: 6.3917rem;
  height: 7.0571rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-6viu-azD {
  margin: 0rem 2.9rem 4.9rem 0rem;
  width: 5.7rem;
  height: 8.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-6viu-azD .homeicon-icons-2-4eV {
  width: 4.2rem;
  height: 4.2rem;
  cursor: pointer;
  position: absolute;
  left: 1.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-6viu-azD .home-ZLM {
  width: 5.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 4rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .r-2-zgZ {
  margin: 0rem 2rem 0.3rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .progress-HvZ {
  margin: 0rem 2.7rem 5rem 0rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7647058824;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .image-24-x17 {
  margin: 0rem 2.3rem 0.8rem 0rem;
  width: 4.1rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .calendar-EzD {
  margin: 0rem 2.7rem 4.6rem 0rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.7647058824;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-xqxs-7YD {
  margin: 0rem 3.55rem 7.3rem 1.45rem;
  width: calc(100% - 5rem);
  height: 9.3rem;
  position: relative;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-xqxs-7YD .image-24-Q1X {
  width: 5.3rem;
  height: 5.3rem;
  cursor: pointer;
  position: absolute;
  left: 0.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-xqxs-7YD .profile-tSV {
  width: 6.3rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 4.9rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-baez-wff {
  margin: 0rem 3.25rem 0rem 1.45rem;
  width: calc(100% - 4.7rem);
  height: 7.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-baez-wff .logout-pzM {
  width: 6.6rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-m6ay-qtD .auto-group-baez-wff .image-6-6gy {
  width: 3.9rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq {
  margin: 0rem 3.2rem 0.1rem 0rem;
  box-sizing: border-box;
  padding: 2.6rem 3.6rem 14.2rem 3.6rem;
  width: 54.6rem;
  background-color: #fcfbfb;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .progress-summary-aEm {
  margin: 0rem 0rem 4.2rem 10rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 {
  margin: 0rem 16rem 4.1rem 6.4rem;
  width: calc(100% - 22.4rem);
  display: flex;
  align-items: center;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 .time-period--ATs {
  margin: 0.2rem 1.1rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 .auto-group-jaeh-r5o {
  margin-bottom: 0.2rem;
  width: 12rem;
  height: 4.2rem;
  position: relative;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 .auto-group-jaeh-r5o .rectangle-39-AMP {
  width: 12rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 .auto-group-jaeh-r5o .polygon-2-smb {
  width: 2.0173rem;
  height: 1.7204rem;
  position: absolute;
  left: 9rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rgqk-fX7 .auto-group-jaeh-r5o .daily-NTT {
  width: 4.9rem;
  height: 4.2rem;
  position: absolute;
  left: 2.5rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-gsxu-oYm {
  margin: 0rem 31.8rem 1.6rem 0.4rem;
  width: calc(100% - 32.2rem);
  display: flex;
  align-items: center;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-gsxu-oYm .total-tasks--UQ1 {
  margin-right: 1.9rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-gsxu-oYm .item-30-Myb {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-wmvp-5ub {
  margin: 0rem 28.2rem 1.2rem 0rem;
  width: calc(100% - 28.2rem);
  display: flex;
  align-items: center;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-wmvp-5ub .completed-tasks--oqb {
  margin: 0.3rem 1.1rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-wmvp-5ub .item-15-7LV {
  margin-bottom: 0.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-fta1-SNm {
  margin: 0rem 30.2rem 2.1rem 0rem;
  width: calc(100% - 30.2rem);
  display: flex;
  align-items: center;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-fta1-SNm .pending-tasks--y7o {
  margin-right: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-fta1-SNm .item-15-sys {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-mptf-1qB {
  margin: 0rem 30.9rem 3.1rem 0rem;
  width: calc(100% - 30.9rem);
  display: flex;
  align-items: center;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-mptf-1qB .overdue-tasks--LsT {
  margin: 0.2rem 1.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-mptf-1qB .item-5-f93 {
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qk9x-Pqj {
  margin: 0rem 0rem 2.7rem 0.4rem;
  width: 21rem;
  height: 4.2rem;
  position: relative;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qk9x-Pqj .rectangle-40-vam {
  width: 21rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qk9x-Pqj .task-category-4gy {
  width: 13.2rem;
  height: 4.2rem;
  position: absolute;
  left: 3.9rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj {
  margin: 0rem 0rem 2rem 0.4rem;
  width: 32rem;
  height: 6.3rem;
  position: relative;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj .rectangle-43-5ry {
  width: 1.3rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #ef4545;
  border-radius: 1rem 0 0 1rem;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj .rectangle-13-1Vj {
  width: 32rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.3rem;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj .work-XU5 {
  width: 5.1rem;
  height: 4.2rem;
  position: absolute;
  left: 3rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj .tasks-Sb3 {
  width: 4rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 2.7rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-qsjw-Zdj .rectangle-42-x3b {
  width: 1.3rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #ef4545;
  border-radius: 1rem 0 0 1rem;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rm6d-UXj {
  margin-left: 0.4rem;
  width: 32rem;
  height: 5.8rem;
  position: relative;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rm6d-UXj .rectangle-41-oa1 {
  width: 32rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #f8ebeb;
  border-radius: 1.3rem;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rm6d-UXj .rectangle-44-jTf {
  width: 1rem;
  height: 5.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(27, 224, 46, 0.5);
  border-radius: 1rem 0 0 1rem;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rm6d-UXj .finance-4kq {
  width: 7.5rem;
  height: 4.2rem;
  position: absolute;
  left: 3.5rem;
  top: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-cbk9-jzq .auto-group-rm6d-UXj .tasks-ajB {
  width: 4.6rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 2.6rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.user-progress-report-screen-jqB .auto-group-envr-siH {
  margin-top: 0.5rem;
  box-sizing: border-box;
  padding: 2.3rem 6.3rem 3.4rem 3.2rem;
  width: 103rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fff9f9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-pr1x-ymK {
  margin: 0rem 0rem 6.5rem 0.8rem;
  width: calc(100% - 0.8rem);
  height: 7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-pr1x-ymK .completed-tasks-5JZ {
  margin: 0.1rem 48.6rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-pr1x-ymK .auto-group-6lpp-b21 {
  box-sizing: border-box;
  padding: 1.4rem 6.65rem 0.4rem 6.65rem;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #f37418;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu {
  margin-right: 2.15rem;
  width: calc(100% - 2.15rem);
  height: 61.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-togh-bAR {
  width: 63rem;
  height: 61.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm {
  box-sizing: border-box;
  padding: 4.9rem 0rem 9.5rem 9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-vhwm-GnM {
  margin: 1.4rem 5.65rem 0rem 0rem;
  width: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-vhwm-GnM .ellipse-11-bpd {
  margin-bottom: 8.6rem;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  background-color: rgba(246, 76, 198, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-vhwm-GnM .ellipse-12-L1X {
  margin-bottom: 10.1rem;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  background-color: rgba(239, 68, 68, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-vhwm-GnM .ellipse-13-rkZ {
  margin-bottom: 11.3rem;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  background-color: rgba(27, 224, 46, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-vhwm-GnM .ellipse-14-zbs {
  width: 100%;
  height: 4rem;
  cursor: pointer;
  background-color: rgba(245, 166, 121, 0.5);
  border-radius: 2rem;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-toph-jJZ {
  margin-bottom: 0.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-toph-jJZ .study-svZ {
  margin-bottom: 7.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-toph-jJZ .work-QvV {
  margin-bottom: 8.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-toph-jJZ .finance-kDf {
  margin-bottom: 9.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-progress-report-screen-jqB .auto-group-envr-siH .auto-group-mql9-Tpu .auto-group-g7av-Xpm .auto-group-toph-jJZ .personal-GSu {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
